<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0"
>
	<display-name>Ka Web Socket Spring Example</display-name>

    <!-- Spring 3 Configuration -->
    <!--
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/application-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

 -->   
    
    
    
      
	<context-param>
		<param-name>webSocketConfigLocation</param-name>
		<param-value>/WEB-INF/websocket-config.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.kasource.web.websocket.bootstrap.WebSocketConfigListener</listener-class>
	</listener>
<!-- 
	<servlet>
        <servlet-name>chatServer</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>chatServer</servlet-name>
        <url-pattern>/chatServer/*</url-pattern>
    </servlet-mapping>

   -->
 <servlet>
        <servlet-name>chatServer</servlet-name>
        <servlet-class>org.kasource.web.websocket.spring.example.ChatServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
  <servlet>
    <servlet-name>chat</servlet-name>
    <servlet-class>org.kasource.web.websocket.impl.tomcat.TomcatWebsocketImpl</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>chat</servlet-name>
    <url-pattern>/chat/*</url-pattern>
  </servlet-mapping>

    
</web-app>
